@charset "UTF-8";
* {
	margin: 0 auto;
	padding: 0;
}

body {
	background: #E6E6E6;
}

a:link { text-decoration: none;color: blue}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;color: red} 
a:visited { text-decoration: none;color: green}

.fixed {
	clear: both;
}


#content {
	position: relative;
	width: 800px;
	height: 500px;
	top: 100px;
}

#header {
	padding-left: 20px;
	height: 24px;
	font-size: 20px;
}

#img-board {
	height: 475px;
	border: 1px solid #999;
}

.image {
	width: 800px;
	height: 475px;
}

ul#img-nav {
	list-style: none;
}

#img-nav li {
	display: inline;
}

#img-nav {
	position: absolute;
	bottom: 15px;
	left: 50%;
}